*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(80deg, #e6700f, #ff1010);
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio{
    width: 300px;
    height: 120px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(231, 112, 15, 0.5);
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;

}
.relogio div {
    background-color: black;
    border-radius: 8px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.relogio div #horas, #minutos, #segundos{
    font-size: 40px;
}

.relogio div span {

    margin-bottom: 10px;
}